@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #111111;
}

.container {
  background: #ffffff1e;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  align-items: safe;
  border-radius: 10px;

  h1 {
    color: #ff9000;
    width: 100%;
    text-align: center;
    span {
      color: white;
    }
  }

  .box {
    width: 75px;
    background: linear-gradient(130deg, #a75e00, #ff9000);
    height: 75px;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    transform-style: preserve-3d;
    transition: 0.5s ease all;
    img {
      width: 100%;
    }
  }
}


.front {
  backface-visibility: hidden;
}

.back {
  background: linear-gradient(130deg, #a75e00, #ff9000);
}
